#buildingNDateWrapper {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
}

#datesList {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#buildingSearchField {
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-border-color: #406E8E;
    -fx-border-radius: 3;
    -fx-padding: 10;
}

#buildingsListWrapper, #buildingsList {
    -fx-background-color: transparent;
}
.buildingEntry {
    -fx-background-color: #00A6D6;
    -fx-background-radius: 15;
    -fx-border-width: 1;
    -fx-border-color: #161925;
    -fx-border-radius: 15;
    -fx-padding: 15;
}

#buildingsCancelButton {
    -fx-background-color: #9A4343;
    -fx-border: none;
    -fx-text-fill: #FFFFFF;
}